@use "sass:map";

$breakpoints: (
        xs: 320px,
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        xxl: 1440px,
);

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints map.";
  }
}

@mixin respond-between($min, $max) {
  $min-val: map.get($breakpoints, $min);
  $max-val: map.get($breakpoints, $max);

  @if $min-val and $max-val {
    @media (min-width: $min-val) and (max-width: ($max-val - 1px)) {
      @content;
    }
  } @else {
    @warn "One or both breakpoints not found: #{$min}, #{$max}";
  }
}