:root {
  --color-primary: #42567A;
  --color-secondary: #3877EE;
  --color-left-year: #5D5FEF;
  --color-right-year: #EF5DA8;
  --color-border: rgba(66, 86, 122, 0.1);
  --color-background: #E5E5E5;
}