@use '../../styles/variables';

.circle-wrapper {
  position: relative;
}

.circle-container {
  position: relative;
  margin-top: 215px;
  margin-left: 28.25rem;
  margin-right: 28.25rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}
