@use '../../../styles/breakpoints' as bp;
@use '../../../styles/variables';

.container {
  position: absolute;
  left: 1.25rem;
  bottom: 13px;

  @include bp.respond-to(sm) {
    left: 0;
    position: relative;
    margin-left: 5em;
    margin-bottom: 3.5em;
    z-index: 10;
  }
}

.navigation {
  padding-bottom: 11px;
  text-align: left;
  font-size: 14px;

  @include bp.respond-to(sm) {
    padding-bottom: 1.25rem;
  }
}

.btnContainer {
  display: flex;
  gap: 8px;

  @include bp.respond-to(sm) {
    gap: 1.25rem;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(66, 86, 122, 0.5);
  transition: all .2s;
  background: transparent;

  @include bp.respond-to(md) {
    width: 3.125rem;
    height: 3.125rem;
  }

  &:hover {
    background-color: white;
  }

  img:first-child {
    display: none;
    @include bp.respond-to(sm) {
      display: block;
    }
  }

  img:last-child {
    display: block;
    @include bp.respond-to(sm) {
      display: none;
    }
  }

  img {
    @include bp.respond-to(sm) {
      filter: brightness(0) saturate(100%) invert(29%) sepia(19%) saturate(1223%) hue-rotate(181deg) brightness(95%) contrast(93%);
      opacity: 0.5;
    }
  }
}

.btn-prev {
  img {
    @include bp.respond-to(sm) {
      transform: rotate(180deg);
    }
  }
}

.btn-next {
  img {
    transform: rotate(180deg);
    @include bp.respond-to(sm) {
      transform: rotate(0deg);
    }
  }
}

.mobile-navigation-container {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: center;
  gap: 0.625rem;

  @include bp.respond-to(sm) {
    display: none;
  }
}

.mobile-navigation-btn {
  background: var(--color-primary);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  border: none;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  padding: 0;
  display: block;

  &.active {
    opacity: 1;
  }
}