@use '../../../styles/variables';

.years-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12.5rem;
  font-weight: bold;
  display: flex;
  gap: 0.5em;


  span:first-child{
    color: var(--color-left-year);
  }

  span:last-child{
    color: var(--color-right-year);
  }
}

span {
  text-align: left;
  width: 2.30em;
}